html, body {
  margin:0px;
  height:100%;
  font-family: "Manrope-Regular", Arial, sans-serif;
}

@font-face{
  font-family:"Manrope-Regular";
  src:url(./Manrope-Regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

.box{
  position:absolute;
  top:0%;
  bottom:5%;
  left:0%;
  right:0%;
}

.bg{
  position:absolute;
  min-height:100%;
  left:5%;
  right:5%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./background.png');
  background-position: center;
  border-radius: 50px;
}

.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.White {
  background: white;
}
.Transparent {
  background: transparent;
}

.topnav {
  background-color: transparent;
  display:flex;
}


.topnav a{
  cursor: pointer;
}

.CorporateContent{
  padding: 5%;
  text-align: center;
}

.Title{
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}
.Name{
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.Description{
  font-size: 18px;
  text-align: center;
}
.NewsName{
  color: black;
  font-weight: 600;
}
.BrandName{
  font-size: 24px;
  color: black;
  font-weight: 600;
  margin:16px;
}

@media screen and (max-width: 400px) {
  .Title{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
  .Name{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
  .Description{
    font-size: 12px;
    text-align: center;
  }
  .BrandName{
    font-size: 16px;
    color: black;
    font-weight: 600;
    margin:16px;
  }
  .CorporateContent{
    font-size:12px;
  }
}

.container .containerBox {
  width: 100%;
  display: table;
  padding-top: 5%;
}

.container .containerBox .box-row {
  display: table-row;
}

.container .containerBox .box-cell {
  display: table-cell;
  width: 33%;
  padding: 10px;
}
@media screen and (max-width: 1250px) {
  .container .containerBox .box-cell {
    display: table;
    width: 100%;
    padding-top: 36px;
  }
}



.container .containerBox .box-cell.box1 {
  text-align: justify;
}

.container .containerBox .box-cell.box2 {
  text-align: justify
}

.container .containerBox .box-cell.box3 {
  text-align: justify;
}

.TopBarItem{
  display:block;
  cursor:pointer;
}

@media screen and (max-width: 2000px) {
  .TopBarItem {
    display:none;
  }
}

.MenuIcon{
  display:none;
}

@media screen and (max-width: 2000px) {
  .MenuIcon {
    display:block;
  }
}

.BotBar{
  display:block;
}

@media screen and (max-width: 2000px) {
  .BotBar {
    display:none;
  }

}

.BotBarShort{
  display:none;
}

@media screen and (max-width: 2000px) {
  .BotBarShort {
    display:block;
  }
}

@media screen and (max-width: 1000px) {
  .BotBarShort {
    display:none;
  }
}


.BotBarShortest{
  display:none;
}

@media screen and (max-width: 1000px) {
  .BotBarShortest {
    display:block;
  }
}


button {
  background: var(--img) 50%/ contain #fff;
  background-blend-mode: multiply;
  transition: background-color .4s;
  width:64px;
  height:64px;
}
@media screen and (max-width: 400px) {
  button {
    background: var(--img) 50%/ contain #fff;
    background-blend-mode: multiply;
    transition: background-color .4s;
    width:20px;
    height:20px;
  }
}
@media screen and (max-width: 400px) {
  .EmptyBar {
    display:none;
    width:0px;
  }
}
@media screen and (max-width: 400px) {
  .EmptyBarCenter {
    background-color: white;
  }
}
.BottomBarText{
  font-size: 24px;
  margin:10px;
  width:300px;
}
@media screen and (max-width: 400px) {
  .BottomBarText {
    font-size: 16px;
    width:150px;
  }
}
.BottomBarButton{
  font-size: 24px;
  width:275px;
}

@media screen and (max-width: 400px) {
  .BottomBarButton{
    font-size: 12px;
    width:140px;
  }
}
.BottomBar{
  width:300px;
}
@media screen and (max-width: 400px) {
  .BottomBar{
    width:50px;
  }
}
.Arrow{
  position: absolute;
  margin-left: 10px;
  width:25px;
  top:15%;
}
@media screen and (max-width: 400px) {
  .Arrow{
    position: absolute;
    margin-left: 5px;
    width:15px;
    top:30%;
  }
}

.TopLogo{
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
  background-image:url("./logoSmallPadding.png");
  background-color:white;
  height:89px; 
  padding:0px 10px;
  cursor: pointer;
  width:16vw;
  min-width:150px;
}
@media screen and (max-width: 400px) {
  .TopLogo{
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url("./logoSmallPadding.png");
    background-color:white;
    height:89px; 
    padding:0px 10px;
    cursor: pointer;
    width:16vw;
    min-width:100px;
  }
}


.MenuIcon {
   --img: url('./MenuIcon.png');
   background-size:contain;
   background-repeat: no-repeat;
   border: none;
   margin-right:10px;
  }

  .MenuIcon:active  {     
    --img: url('./MenuIconClicked.png');
}



.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #a7a7a7;
  border-radius: 10px;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fcfcfc;
  min-width: 160px;
  overflow: auto ;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 2;
  bottom:-305px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 24px;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}